* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "times new roman", sans-serif;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
    .hero-content,
    .hero-image {
        flex-basis: 100%;
        width: 100%;
        margin: 25px auto;
    }

    .hero-content h2 {
        font-size: 28px;
    }

    .hero-content p,
    .hero-content p2 {
        font-size: 16px;
    }
}

.hero {
    background-color: aliceblue;
    overflow: hidden;
}

.heading h1 {
    color:  #003366;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
    padding-bottom: 100px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.hero-content {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}

.hero-content h2 {
    font-size: 42px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:  #094179;
}

.hero-content p,
.hero-content p2 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: black;
}

.hero-image {
    flex: 1;
    width: 600px;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 50px;
}
b{
    color: #5895d3;
    font-size:25px ;
}
m{
    color:#094179;
    font-size:23px ; 
}
.hero-image:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #003366;
    color: #fff;
}
