* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "times new roman", sans-serif;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
    .hero-content,
    .hero-image {
        flex-basis: 100%;
        width: 100%;
        margin: 25px auto;
    }

    .hero-content h2 {
        font-size: 28px;
    }

    .hero-content p,
    .hero-content p2 {
        font-size: 16px;
    }
}

.hero {
    background-color: aliceblue;
    overflow: hidden;
}

.heading h1 {
    color:  #003366;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
    padding-bottom: 100px;
}


.hero-content {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}

.hero-content h2 {
    font-size: 42px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:  #094179;
}

.hero-content p,
.hero-content p2 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: black;
}



b{
    color: #5895d3;
    font-size:25px ;
}
m{
    color: #85b2df;
    font-size:23px ; 
}



.service h1{
    color:  #003366;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
    padding-bottom: 100px;
}
   
footer{
    background-color: #0f3761;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}
.container2{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col2{
    min-width: 250px;
    color: aliceblue;
    font-family: poppins;
    padding: 0 2rem;
}
.col2 .logo{
    width: 100px;
    margin-bottom: 25px;
}
.col2 h3{
    color: #ff7200;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.col2 h3::after{
    content: '';
    height: 3px;
    width: 0px;
    background-color: rgb(236, 228, 231);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.col2 h3:hover::after{
    width: 30px;
}
.col2 .socials a i{
    color: #ff7200;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;

}
.col2 .socials a i:hover{
    transform: scale(1.5);
    filter: grayscale(25);
}
.col2 .links a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}
.col2 .links a::before{
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #ff7200;
    transition: 0.5s ease;
    opacity: 0;
}
.col2 .links a:hover:before{
    opacity: 1;
}
.col2 .links a:hover{
    transform: translateX(-8px);
    color: #ff7200;
}
.col2 .contact-details{
    display: inline-flex;
    justify-content: space-between;
}
.col2 .contact-details i{
    margin-right: 15px;
}
/* emailbutton*/
.row2 .form2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.row2 .form2 input{
    background-color: #1a1c20ff;
    border: 0;
    outline: none;
    padding: 14px 20px; 
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form2 button{
    padding: 14px 20px;
    border: 0;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #ff7200;
}
